package chi

import (
	"{{.Name}}/internal/core/shared"
	"{{.Name}}/internal/core/user/ports"
	"net/http"

	"github.com/go-chi/chi/v5"
)

type router struct {
	engine       *chi.Mux
	globalPrefix string
	service      ports.UserServiceInterface
}

func NewRouter(service ports.UserServiceInterface) shared.RouterInterface {
	return &router{
		engine:       chi.NewRouter(),
		globalPrefix: "/users",
		service:      service,
	}
}

func (router router) Register() http.Handler {
	router.registerUserRoutes()
	return router.engine
}
