package httprouter

import (
	"{{.Name}}/internal/core/shared"
	"{{.Name}}/internal/core/user/ports"
	"net/http"

	"github.com/julienschmidt/httprouter"
)

type router struct {
	engine       *httprouter.Router
	globalPrefix string
	service      ports.UserServiceInterface
}

func NewRouter(service ports.UserServiceInterface) shared.RouterInterface {
	return &router{
		engine:       httprouter.New(),
		globalPrefix: "/users",
		service:      service,
	}
}

func (router router) Register() http.Handler {
	router.registerUserRoutes()
	return router.engine
}
