package mock

import (
	"context"
	"sync"

	"{{.Name}}/internal/core/user/domain"

	"github.com/google/uuid"
)

type MockRepository struct {
	mu            sync.RWMutex
	Users         []domain.User
	SpyOnInsert   func(ctx context.Context, name string) (string, error)
	SpyOnUpdate   func(ctx context.Context, id string, name string) (int64, error)
	SpyOnDelete   func(ctx context.Context, id string) (int64, error)
	SpyOnFetch    func(ctx context.Context, id string) (domain.User, error)
	SpyOnFetchAll func(ctx context.Context) ([]domain.User, error)
}

func (m *MockRepository) Insert(ctx context.Context, name string) (string, error) {
	if m.SpyOnInsert != nil {
		return m.SpyOnInsert(ctx, name)
	}

	m.mu.Lock()
	defer m.mu.Unlock()

	id := uuid.New()
	m.Users = append(m.Users, domain.User{Id: id.String(), Name: name})

	return id.String(), nil
}

func (m *MockRepository) Update(ctx context.Context, id string, name string) (int64, error) {
	if m.SpyOnUpdate != nil {
		return m.SpyOnUpdate(ctx, id, name)
	}

	m.mu.Lock()
	defer m.mu.Unlock()

	for index, u := range m.Users {
		if id == u.Id {
			m.Users[index].Name = name
			return 1, nil
		}
	}

	return 0, nil
}

func (m *MockRepository) Delete(ctx context.Context, id string) (int64, error) {
	if m.SpyOnDelete != nil {
		return m.SpyOnDelete(ctx, id)
	}

	m.mu.Lock()
	defer m.mu.Unlock()

	for index, u := range m.Users {
		if id == u.Id {
			m.Users = append(m.Users[:index], m.Users[index+1:]...)
			return 1, nil
		}
	}

	return 0, nil
}

func (m *MockRepository) Fetch(ctx context.Context, id string) (domain.User, error) {
	if m.SpyOnFetch != nil {
		return m.SpyOnFetch(ctx, id)
	}

	m.mu.RLock()
	defer m.mu.RUnlock()

	for _, u := range m.Users {
		if id == u.Id {
			return u, nil
		}
	}

	return domain.User{}, domain.ErrUserNotFound
}

func (m *MockRepository) FetchAll(ctx context.Context) ([]domain.User, error) {
	if m.SpyOnFetchAll != nil {
		return m.SpyOnFetchAll(ctx)
	}

	m.mu.RLock()
	defer m.mu.RUnlock()

	return m.Users, nil
}
