package services

import (
	"context"
	"unicode/utf8"

	"{{.Name}}/internal/core/domain"
	"{{.Name}}/internal/core/ports"
)

type userService struct {
	repo ports.UserRepositoryInterface
}

func NewUserService(repo ports.UserRepositoryInterface) *userService {
	return &userService{repo: repo}
}

func (us *userService) Index(ctx context.Context) ([]domain.User, error) {
	return us.repo.FetchAll(ctx)
}

func (us *userService) Show(ctx context.Context, id string) (domain.User, error) {
	return us.repo.Fetch(ctx, id)
}

func (us *userService) Create(ctx context.Context, name string) (string, error) {
	if name == "" {
		return "", domain.ErrNameRequired
	}
	if utf8.RuneCountInString(name) > domain.MaxNameLength {
		return "", domain.ErrNameTooLong
	}

	return us.repo.Insert(ctx, name)
}

func (us *userService) Update(ctx context.Context, id string, newName string) (int64, error) {
	if newName == "" {
		return 0, domain.ErrNameRequired
	}
	if utf8.RuneCountInString(newName) > domain.MaxNameLength {
		return 0, domain.ErrNameTooLong
	}

	return us.repo.Update(ctx, id, newName)
}

func (us *userService) Delete(ctx context.Context, id string) (int64, error) {
	return us.repo.Delete(ctx, id)
}
