package gin

import (
	"encoding/json"
	"errors"
	"fmt"
	"net/http"

	"{{.Name}}/internal/adapters/api"
	"{{.Name}}/internal/core/domain"

	"github.com/gin-gonic/gin"
)

func (router *router) registerUserRoutes() {
	r := router.engine.Group(router.globalPrefix + "/users")

	r.GET("/", router.IndexHandler)
	r.GET("/:id", router.ShowUserHandler)
	r.POST("/", router.CreateUserHandler)
	r.PUT("/:id", router.UpdateUserHandler)
	r.DELETE("/:id", router.DeleteUserHandler)
}

func (router *router) CreateUserHandler(c *gin.Context) {
	var body struct {
		Name string `json:"name"`
	}
	if err := json.NewDecoder(c.Request.Body).Decode(&body); err != nil {
		c.JSON(http.StatusBadRequest, api.Response{Error: api.FailedToEncodeBodyPayload})
		return
	}

	result, err := router.service.Create(c.Request.Context(), body.Name)
	if errors.Is(err, domain.ErrNameRequired) {
		c.JSON(http.StatusUnprocessableEntity, api.Response{Message: err.Error(), Error: api.RequiredField})
		return
	}
	if err != nil {
		c.JSON(http.StatusInternalServerError, api.Response{Error: api.DatabaseOperationFailure})
		return
	}

	c.JSON(http.StatusCreated, api.Response{Message: "Created user successfully", Data: result})
}

func (router *router) DeleteUserHandler(c *gin.Context) {
	id := c.Param("id")

	rowsAffected, err := router.service.Delete(c.Request.Context(), id)
	if err != nil {
		c.JSON(http.StatusInternalServerError, api.Response{Error: api.DatabaseOperationFailure})
		return
	}

	if rowsAffected == 0 {
		c.JSON(http.StatusNotFound, api.Response{Message: fmt.Sprintf("no user found with ID of %v", id)})
		return
	}

	c.JSON(http.StatusOK, api.Response{Message: fmt.Sprintf("deleted user with ID of %v successfully", id)})
}

func (router *router) IndexHandler(c *gin.Context) {
	result, err := router.service.Index(c.Request.Context())
	if err != nil {
		c.JSON(http.StatusInternalServerError, api.Response{Error: api.DatabaseOperationFailure})
		return
	}

	c.JSON(http.StatusOK, api.Response{Message: "Fetched users successfully", Data: result})
}

func (router *router) ShowUserHandler(c *gin.Context) {
	result, err := router.service.Show(c.Request.Context(), c.Param("id"))
	if errors.Is(err, domain.ErrUserNotFound) {
		c.JSON(http.StatusNotFound, api.Response{Error: api.NotFoundError})
		return
	}
	if err != nil {
		c.JSON(http.StatusInternalServerError, api.Response{Error: api.DatabaseOperationFailure})
		return
	}

	c.JSON(http.StatusOK, api.Response{Message: "Fetched user successfully", Data: result})
}

func (router *router) UpdateUserHandler(c *gin.Context) {
	var body struct {
		Name string `json:"name"`
	}
	if err := json.NewDecoder(c.Request.Body).Decode(&body); err != nil {
		c.JSON(http.StatusBadRequest, api.Response{Error: api.FailedToEncodeBodyPayload})
		return
	}

	rowsAffected, err := router.service.Update(c.Request.Context(), c.Param("id"), body.Name)
	if errors.Is(err, domain.ErrNameRequired) {
		c.JSON(http.StatusUnprocessableEntity, api.Response{Message: err.Error(), Error: api.RequiredField})
		return
	}
	if err != nil {
		c.JSON(http.StatusInternalServerError, api.Response{Error: api.DatabaseOperationFailure})
		return
	}
	if rowsAffected == 0 {
		c.JSON(http.StatusNotFound, api.Response{Error: api.NotFoundError})
		return
	}

	c.JSON(http.StatusOK, api.Response{Message: "User updated successfully", Data: rowsAffected})
}
