package main

import (
	"os"

	"{{.Name}}/configs"
	"{{.Name}}/internal/adapters/loggers/{{.Logger}}"
	"{{.Name}}/internal/core/ports"
)

func init() {
	configs.LoadEnv()
}

func projectName() string {
	return os.Getenv("PROJECT_NAME")
}

func logMessage(logger ports.Logger, message string) {
	logger.Info(message)
}


func main() {
	logger := {{.Logger}}.New()
	logMessage(logger, projectName())
}
