package ports

import (
	"context"

	"{{.Name}}/internal/core/user/domain"
)

type UserServiceInterface interface {
	Create(ctx context.Context, name string) (string, error)
	Delete(ctx context.Context, id string) (int64, error)
	Index(ctx context.Context) ([]domain.User, error)
	Show(ctx context.Context, id string) (domain.User, error)
	Update(ctx context.Context, id string, name string) (int64, error)
}
