package ports

import (
	"context"

	"{{.Name}}/internal/core/domain"
)

type UserRepositoryInterface interface {
	Delete(ctx context.Context, id string) (int64, error)
	Fetch(ctx context.Context, id string) (domain.User, error)
	FetchAll(ctx context.Context) ([]domain.User, error)
	Insert(ctx context.Context, name string) (string, error)
	Update(ctx context.Context, id string, value string) (int64, error)
}
