package rabbitmq

import (
	"context"
	"fmt"
	"{{.Name}}/internal/core/ports"
	"os"

	amqp "github.com/rabbitmq/amqp091-go"
)

type rabbitmqBroker struct {
	connection  *amqp.Connection
	channel     *amqp.Channel
	queue       amqp.Queue
	channelName string
}

func New(channelName string, logger ports.Logger) (*rabbitmqBroker, error) {
	user := os.Getenv("RABBITMQ_USER")
	password := os.Getenv("RABBITMQ_PASSWORD")
	port := os.Getenv("RABBITMQ_PORT")

	conn, err := amqp.Dial(fmt.Sprintf("amqp://%v:%v@localhost:%v/", user, password, port))
	if err != nil {
		return nil, err
	}

	ch, err := conn.Channel()
	if err != nil {
		return nil, err
	}

	q, err := ch.QueueDeclare(channelName, false, false, false, false, nil)
	if err != nil {
		return nil, err
	}

	logger.Info("Successfully connected to RabbitMQ")

	return &rabbitmqBroker{
		connection:  conn,
		channel:     ch,
		queue:       q,
		channelName: channelName,
	}, nil
}

func (r *rabbitmqBroker) Close() error {
	if err := r.channel.Close(); err != nil {
		return err
	}
	return r.connection.Close()
}

func (r *rabbitmqBroker) Produce(ctx context.Context, value []byte) error {
	err := r.channel.PublishWithContext(ctx, "", r.channelName, false, false, amqp.Publishing{
		ContentType: "text/plain",
		Body:        value,
	})
	if err != nil {
		return err
	}

	return nil
}

func (r *rabbitmqBroker) Consume(ctx context.Context, handler func(value []byte)) error {
	messages, err := r.channel.Consume(r.channelName, "", true, false, false, false, nil)
	if err != nil {
		return err
	}

	go func() {
		for msg := range messages {
			handler([]byte(msg.Body))
		}
	}()
	<-ctx.Done()

	return ctx.Err()
}
